<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000766211617-lvggs9urgk2fv4u9arnutlte7qlike9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000766211617-lvggs9urgk2fv4u9arnutlte7qlike9h</string>
	<key>API_KEY</key>
	<string>AIzaSyA4WndHv3647yKbOVniJ7HY5HR8meOgzxo</string>
	<key>GCM_SENDER_ID</key>
	<string>1000766211617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comicMobileApp</string>
	<key>PROJECT_ID</key>
	<string>comic-app-390a6</string>
	<key>STORAGE_BUCKET</key>
	<string>comic-app-390a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000766211617:ios:71d116faca9130bf7d0560</string>
	<key>DATABASE_URL</key>
	<string>https://comic-app-390a6-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>